@model List<MyPortfolioWebsite.DAL.Entities.Testimonial>
<div class="s-testimonials" id="testimonials">

    <div class="overlay"></div>

    <div class="row testimonials-header">
        <div class="col-full">
            <h1 class="h02">What People Say.</h1>
        </div>
    </div>

    <div class="row testimonials">

        <div class="col-full testimonials__slider">


            @foreach (var item in Model)
            {
                <div class="testimonials__slide">
                    <img src="@item.imageUrl" alt="Author image" class="testimonials__avatar">
                    <p>
                        @item.description
                    </p>
                    <div class="testimonials__author h06">
                        @item.nameSurname
                        <span>@item.title</span>
                    </div>
                </div>
            }

        </div> 

    </div> 

</div> 