@model List<Skill>
@{
    ViewData["Title"] = "SkillList";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Skills</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Skill List</div>
					</div>
					<div class="card-body">
						<table class="table mt-3">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Title</th>
									<th scope="col">Delete</th>
									<th scope="col">Edit</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td>@item.skillId</td>
										<td>@item.title</td>
										<td><a href="/Skill/DeleteSkill/@item.skillId" class="btn btn-danger">Delete</a></td>
										<td><a href="/Skill/UpdateSkill/@item.skillId" class="btn btn-success">Edit</a></td>
									</tr>
								}
							</tbody>
						</table>
						<a href="/Skill/CreateSkill/" class="btn btn-info">Add Skill</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>