@model List<MyPortfolioWebsite.DAL.Entities.Skill>

<div class="col-six tab-full right">
    <h3>I've Got Some skills.</h3>

    <ul class="skill-bars">
        @foreach (var item in Model)
        {
            <li>
                <!-- 
                <div class="progress percent @item.value"><span>@item.value%</span></div> 
                -->
                <strong>@item.title</strong>
            </li>
        }
    </ul>
</div>