@model List<Feature>
@{
    ViewData["Title"] = "FeatureList";
    Layout = "~/Views/Layout/Index.cshtml";
}


<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Feature</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Feature Info</div>
					</div>
					<div class="card-body">
						<table class="table mt-3">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Title</th>
									<th scope="col">Description</th>
									<th scope="col">Edit</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td>@item.featureId</td>
										<td>@item.title</td>
										<td>@item.description</td>
										<td><a href="/Feature/UpdateFeature/@item.featureId" class="btn btn-success">Edit</a></td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

