@model Feature
@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Views/Layout/Index.cshtml";
}
<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Feature</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Edit Feature</div>
					</div>
					<div class="card-body">
						<form method="post">
							<input type="hidden" asp-for="featureId" />
							<label>Title</label>
							<input type="text" asp-for="title" class="form-control" />
							<br />
							<label>Description</label>
							<textarea rows="3" class="form-control" asp-for="description"></textarea>
							<br />
							<button class="btn btn-warning">Update Feature</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
